.contacto{
    margin-top: 25px;
    margin-bottom: 50px;
    .tittle-contact {
        text-align: center;
        font-weight: lighter;
        padding-bottom: 30px;   
    }
    .contact-box{
        width: 30rem;
    }
}