.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
    .tittle-contact {
        text-align: center;
        font-weight: lighter;
        padding-bottom: 30px;   
    }
    .contact-box{
        width: 30rem;
    }

    .row{
        width: 95%;
        margin-bottom: 25px;
    }
}