.galeria{
    margin-top: 25px;
    margin-bottom: 50px;

    h2{
        text-align: center;
        font-weight: lighter;
        margin-bottom: 35px;
    }

    .galeria-image{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    img{
        padding-left: 15px;
        margin-bottom: 15px;
        width: 600px;
        height: 300px;
        &:hover{
            position: relative;
            transform: scale(1.2);
            z-index: 500000;    
        }
    } 
}