.index {

    .home-carrousel {
        width: 600px;
        height: 300px;
    }
    
    .home-img-with-text{
        .card{
            .img-text{
                .img-100{
                    height: 100%;
                }
            }
            .tamaño{
                height: 80%;
            }
        }
    }
}