.nosotros{
    margin-top: 25px;
    margin-bottom: 50px;
    h2{
        text-align: center;
        font-weight: lighter;
        padding-bottom: 30px;
    }
    .img-nosotros{
        width: 80%; 
        height:auto; 
        margin: 0px auto;
    }
    .tamaño-nosotros{
        height: 80%;
        .card{
            background-color: white;
            border: 0;
        }
    }
}